/* FULL SCREEN DARK BACKGROUND */
.project-page {
  min-height: 100vh;
  background: #0f0018;
  color: #ffffff;
  padding-bottom: 80px;
  font-family: "Poppins", sans-serif;
}

/* NAVIGATION */
.project-nav {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.project-nav a {
  margin-left: 25px;
  color: #c8b8d9;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.project-nav a:hover {
  color: #ffb75c;
}

.proj-logo {
  font-size: 20px;
  font-weight: 600;
}

/* HERO SECTION */
.project-hero {
  text-align: center;
  margin-top: 40px;
}

.proj-title {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}

.proj-subtitle {
  margin-top: 10px;
  font-size: 18px;
  color: #c8b8d9;
}

.proj-img-box {
  margin: 50px auto;
  width: 380px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(255, 111, 167, 0.3);
}
.image-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;   
  align-self: center;
}

.img-box {
  width: 400px;        /* Set same width */
  height: 850px;       /* Set same height */
  overflow: hidden;    /* Crop overflowing parts */
  border-radius: 12px; /* Optional */
  right: '20%';
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* Makes both images equal size */
}

/* 
.proj-img-box img {
  width: 100%;
  height: auto;
} */


.proj-img-box img {
  width: 200px;       /* adjust size */
  height: 400px;      /* adjust size */
  object-fit:fill;  /* keeps aspect ratio nicely */
  border-radius: 12px;
}
/* DETAILS */
.project-details {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 40px;
}

.card {
  background: #190028;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 25px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #ffb75c;
}

.card p,
.card ul {
  color: #c8b8d9;
  line-height: 1.7;
}

.card ul li {
  margin-bottom: 8px;
}
